.post {
  /* padding: 0.5vw; */
  padding: clamp(.75em, .75em + .5vw, 2em); 
  background-color: var(--color7);
  border-radius: 0.75rem;
  
  display: flex; 
  flex-direction: column;
  
  /* max-height: 20vh;  */
}
.post-title {
  display: flex; 
  align-items: center;
}
.post-title-tags-icon {
  margin-right: .4em; 
  font-size: 1.25em; 
  opacity: 0.4;
}
.tag-span {
  opacity: 0.6;
  font-style: italic;
  font-family: monospace;
  font-size: 1.2em;
  /* text-transform: uppercase; */
  /* margin-right: 1em;  */
  /* margin- */
  margin: .2em .5em 0 0; 
  padding: 0.125em 1em; 
  border-radius: 10rem;
  background-color: var(--color2);
  color: white; 
  white-space: nowrap;
}
.tag-span:hover {
  font-weight: bold; 
}
.post-title-tags {
  display: none; 
  margin-bottom: 1em;

}
.post-title-tags.show {
  display: flex;
  flex-wrap: wrap;
}
.post-title-tags-icon:hover {
  opacity: 0.9;
  
}

.post:hover {
  box-shadow: 0px 0px 4px 4px;
  cursor: pointer;
}
.post-content {
  text-overflow: hidden;
  overflow: clip;
  text-overflow: ellipsis;
}
.post-info {
  margin: 0;
  /* margin-top: 1em;  */
  margin-top: auto; 
  font-size: 1rem;
  padding-top: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-info > * {
  margin: 0 1vw;
}
.post-author::before {
  font-style: italic;
  content: "~";
  font-weight: bolder;
}
.post-weight-controls {
  display: flex; 
}
.post-vote-btn {
  font-size: 155%; 
  font-weight: bolder;
  cursor: pointer;
  border: none; 
  padding: 0; 
}
.post-vote-btn[data-clicked=true] {
  background-color: red;
}
.post-vote-btn:hover {
  background-color: var(--color3);
}


.post-controls-icon { 
  height: 1.5em; 
  width: auto; 
}
.post-controls-icon-container img:nth-child(2) {
  display: none; 
}
.post-controls-icon-container:hover img:nth-child(1) {
  display: none;
}
.post-controls-icon-container:hover img:nth-child(2) {
  display: inline-block; 
}

.post-header {
  display: flex; 
  justify-content: space-between;
  margin-bottom: 1em; 

}
