.post {
  padding: 0.5vw;
  background-color: var(--color7);
  border-radius: 0.75rem;
}
.post:hover {
  box-shadow: 0px 0px 4px 4px;
  cursor: pointer;
}
.post-content {
  height: 400px;
  text-overflow: hidden;
  overflow: clip;
}
.post-info {
  margin: 0;
  font-size: 1rem;
  padding-top: 1vw;
  display: flex;
  justify-content: space-between;
}
.post-info > * {
  margin: 0 1vw;
}
.post-author::before {
  font-style: italic;
  content: "~";
  font-weight: bolder;
}
.post-weight-controls {
  display: flex; 
}
.post-vote-btn {
  font-size: 155%; 
  font-weight: bolder;
  cursor: pointer;
  border: none; 
  padding: 0; 
}
.post-vote-btn[data-clicked=true] {
  background-color: red;
}
.post-vote-btn:hover {
  background-color: var(--color3);
}
