@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

* {
  /* outline: 1px solid black; */
  font-family: "Noto Serif", serif;
  padding: 0;
  margin: 0;
}

#app-header {
  background-color: var(--color1);
  color: var(--color5);
  padding: 0 2vw;
}

:root {
  --color1: #0052f2;
  --color2: #007eff;
  --color3: #00b1ff;
  --color4: #40e8ff;
  --color5: #c1ffff;
  --color6: #e8f6f6;
  --color7: #fbfbfbe9;

  --color8: white;
}

#app-container {
  display: grid;
  min-height: 100vh;
  width: 100%;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 5fr 1fr;
  background-color: var(--color4);
}

#app-header {
  grid-row: 1 / 2;
  grid-column: 1 / span 2;
}
#app-title > span:hover {
  cursor: pointer;
  font-weight: bolder;
  text-decoration: underline;
}
#app-board {
  padding: 1vw;
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
}

/* ---------------------------------- Posts --------------------------------- */
.post {
  padding: 0.5vw;
  background-color: var(--color7);
  border-radius: 0.75rem;
}
.post:hover {
  box-shadow: 0px 0px 4px 4px;
  cursor: pointer;
}
.post-content {
  height: 400px;
  text-overflow: hidden;
  overflow: clip;
}
.post-info {
  margin: 0;
  font-size: 1rem;
  padding-top: 1vw;
  display: flex;
  justify-content: space-between;
}
.post-info > * {
  margin: 0 1vw;
}
.post-author::before {
  font-style: italic;
  content: "~";
  font-weight: bolder;
}

/* --------------------------------- Sidebar -------------------------------- */
#app-sidebar {
  margin: 0;
  padding: 0;
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  background-color: var(--color3);
}

#app-sidebar-filter-container {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.app-sidebar-filter {
  margin: 1vw 0;
}

.app-sidebar-filter > button {
  padding: 0.25vw;
  cursor: pointer;
  border: none;
  font-weight: bold;
  background-color: var(--color7);
}
.app-sidebar-filter > button:hover {
  background-color: var(--color2);
}

#searched-post::before {
  content: "";
  content: "a";
}
#searched-post {
  padding: 0.25vw;
}
