.profile-card {
    padding: 2vw; 
    border: 2px solid black; 
}
.profile-card > .info-container {
    display: flex; 
    flex-direction: column;
}
.profile-card .info {
    display: flex; 
    justify-content: stretch;
}
.profile-card .info-key {
    font-weight: bold;
}